<html>
	<head>
	<title>Login</title>
	
	<!-- This loads static files -->
	{% load staticfiles %}
	
	<meta charset="utf-8">
	<link href="{% static 'webapp/css/Style.css' %}" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--webfonts-->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700" rel="stylesheet" type="text/css">
	<!--//webfonts-->
	</head>
<body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	 <!-----start-main---->
	 <div class="main">
	 <!---728x90--->
	<div class="login-form">
	<h1>Member Login</h1>
		<div class="head">
			<img src="{% static 'webapp/images/user.png' %}" alt="">
		</div>
		<form action="/login/" method="post">
			{% csrf_token %}
			{{form}}
			<input type="text" id="USERNAME" class="text" value="USERNAME" >
			<input type="password" id="Password" value="Password" >
			<div class="submit">
				<input type="submit" onclick="myFunction()" value="LOGIN">
			</div>	
			<p><a href="#">Forgot Password ?</a></p>
		</form>
		</div>
	</div>
</body>
</html>